/* hover effect after vem no botao */
@mixin hover__efect($bg:$cor-base, $white:$white) {
    overflow: hidden;
    position: relative;

    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 41px;
        background: $bg;
        @include inset;
        transform: translatey(200%);
        transition: all .5s ease;
        z-index: -1;
        pointer-events: none;
        border-radius: 2px;
    }

    &:hover {
        text-decoration-color: transparent !important;
        color: $white;

        &:after {
            transform: translatey(0)
        }
    }


}

@mixin tituloGrande {
    color: $secundaria;
    font-size: clamp(42px, 7vw, 84px);
    text-align: center;
    margin: 40px auto;
}

@mixin subtitulo($alinhamento:center) {
    color: $terciaria;
    text-align: $alinhamento;
    line-height: 160%;

    @include d(s) {
        font-size: 14px;
    }
}


//progess bar
@mixin progress {
    --scroll: 0%;
    background: linear-gradient(to right, $cor-base var(--scroll), transparent 0);
    position: fixed;
    width: 100%;
    height: 5px;
    top: 55px;
    z-index: 100;
}


@mixin botao($bg:white, $color:$secundaria) {
    border-radius: 30px;
    padding: 15px 40px;
    text-align: center;
    display: inline-flex;
    background-color: $bg;
    color: $color;
    cursor: pointer;
    transition: 0.3s ease;
    font-weight: 700;
    position: relative;
    overflow: hidden;

    span {
        background: $secundaria;
        position: absolute;
        transform-origin: center center;
        @include size(100px);
        border-radius: 50%;
        animation: animate 1s linear forwards;
        pointer-events: none;

        z-index: 10;

    }
}


@mixin sombra {
    box-shadow: 0 30px 30px -40px rgb(0 0 0 / 64%);
}




// ===================================================
@mixin center {
    margin-left: auto;
    margin-right: auto;
}


//background
@mixin bg-props-contain {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@mixin bg-props-cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

// Sizing
// ------
@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

// Normal & hover state
// --------------------
@mixin hoverer($property, $normal, $hovered) {

    transition: 0.4s ease;

    #{$property}: $normal;

    &:hover {
        #{$property}: $hovered;
    }
}


@mixin data__logo {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 5px 10px;

    img {
        width: 130px;
    }
}

@mixin pseudo($p:initial) {
    content: "";
    display: block;
    @include bg-props-contain;
    position: $p;
    pointer-events: none;

}


@mixin inset {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}